<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /access-to-server/modern-music-app/dist/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /access-to-server/modern-music-app/dist/index.html [L]
</IfModule>
